[tool.poetry]
name = "ntfsfind"
version = "2.1.1"
description = ""
authors = ["sumeshi <j15322sn@gmail.com>"]
license = "MIT"
readme = "README.md"

repository = "https://github.com/sumeshi/ntfsfind"
homepage = "https://github.com/sumeshi/ntfsfind"

keywords = ['Windows']

[tool.poetry.scripts]
ntfsfind = 'ntfsfind:entry_point'

[tool.poetry.dependencies]
python = "^3.7"
ntfsdump = "^2.0.0"
mft = "^0.5.3"
pytsk3 = "^20210419"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
mypy = "^0.782"
flake8 = "^3.8.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
